---
BasedOnStyle: WebKit
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
BraceWrapping:
    AfterClass: true
    AfterFunction: true
ColumnLimit: '120'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
NamespaceIndentation: None
ReflowComments: false
SpaceBeforeParens: Never
SpacesInSquareBrackets: 'false'
TabWidth: '4'
UseTab: ForContinuationAndIndentation

...
